li#contact {
    height: auto;
    padding: 200px 0;
    display: block;
}

#title-contact{
    display: block;
    text-align: center;
    margin: 0 auto;
}

#title-contact h1{
    font-size: 70px;
    letter-spacing: 2px;
    margin: 0;

}

#contact-container{
    display: flex;
    position: relative;
    color: white;
}